{% layout 'main.liquid' %}

<div class="text-center">
    <h1 class="display-6 fw-semibold mb-4">
        Role Base Access Control with PassportJS
    </h1>
    <button class="btn btn-warning">Get Start</button>
</div>
